a {
    color: grey !important;
    text-decoration: none;
}
a:hover {
    color: #71c55d !important;
}
.text-welcome {
    margin-top: 100px !important;
    color: #71c55d;
    font-family: "Philosopher", sans-serif;
}
.content-main-bg {
    height: 90vh;
    background: url(./img/hero-bg.png) bottom no-repeat;
    background-size: 100%;
}
.background-color {
    background-color: #e4f4e1;
}
.info p {
    display: inline-block;
}